---
import MainLayout from '../layouts/MainLayout.astro';
import LandingHero from '../components/LandingHero-1.astro';
import FeaturedGallery from '../components/FeaturedGallery.astro';
---

<MainLayout>
	<section class="relative h-screen w-full overflow-hidden">
		<LandingHero />
	</section>

	<section class="featured-section py-20">
		<FeaturedGallery />
	</section>
</MainLayout>
